extends ../components/base/layout
include ../components/blocks/hero
include ../components/blocks/courses
include ../components/blocks/features

block variables
  - const title = "FindEdu"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +hero()
    +courses()
    +features()


block modals
