.main-nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: size(87px);

    &:last-child {
      margin-right: 0;
    }

    @include hover-focus {
      .submenu {
        display: flex;
      }
    }
  }

  &__link {
    padding: size(42px) size(42px) size(44px) size(42px);
    line-height: size(19px);
    font-weight: 500;
    color: $main-nav-link;

    &.is-active {
      color: $color-accent-main;
    }
  }

  &__toggle {
    display: none;
  }
}
