.submenu {
  padding: 0 size(292px) 0 size(321px);
  display: none;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: size(119px);
  left: 0;
  background-color: $color-default-white;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    gap: size(47px);
    align-items: center;
    width: 100%;
    line-height: size(19px);
    font-weight: 500;
  }

  &__item {
    position: relative;
    padding: size(50px) size(50px) size(48px) 0;
    display: flex;
    align-items: center;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: size(30px);
      right: 0;
      width: 1px;
      height: size(30px);
      background-color: #ececec;
    }
  }

  &__name {
    margin-right: size(25px);
  }

  @include hover-focus {
    display: flex;
  }

  @include vp-1439 {
    padding-right: size(32px);
    padding-left: size(32px);
  }

  @include vp-1023 {
    padding-right: size(32px);
    padding-left: size(32px);
  }

  @include vp-767 {
    padding-right: size(32px);
    padding-left: size(32px);
  }
}

.submenu__item {

  @include hover-focus {

    .submenu-secondary {
      display: flex;
    }
  }
}

.submenu__item:last-child {

  &::before {
    display: none;
  }
}
